@charset "utf-8";

.rs-picker-toggle-wrapper {
  height: 36px;
}
.rs-picker-menu {
  border-radius: 0;
}
.rs-picker-default .rs-picker-toggle {
  display: inline-flex;
  border-color: #305da8;
  color: #444;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn.active,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active {
  border-color: #305da8;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn.active,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover {
  border-color: #305da8;
}
.rs-picker-daterange .rs-picker-toggle-caret::before {
  content: '' !important;
}
.rs-picker-toggle {
  border-radius: 0 !important;
}
.rs-picker-default .rs-btn,
.rs-picker-default .rs-picker-toggle,
.rs-picker-input .rs-btn,
.rs-picker-input .rs-picker-toggle {
  border-color: #305da8;
}
.rs-picker-default .rs-picker-toggle.rs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}
.rs-picker-toggle .rs-picker-toggle-placeholder {
  color: #bdc6d2;
}
.rs-picker-date .rs-picker-toggle.rs-btn,
.rs-picker-daterange .rs-picker-toggle.rs-btn {
  padding-right: 33px;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  border-color: #305da8;
  background-color: #305da8;
}
.rs-picker-cleanable.rs-picker-date .rs-picker-toggle.rs-btn,
.rs-picker-cleanable.rs-picker-daterange .rs-picker-toggle.rs-btn {
  width: 220px;
  height: 36px;
}
.rs-calendar-table-cell-content {
  border-radius: 0;
}
.rs-calendar-table-cell-in-range:before,
.rs-calendar-table-cell-selected:before {
  margin-top: 2px;
  height: 28px;
}
.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  border: 1px solid #305da8;
}
.rs-calendar-header-backward.rs-btn-focus,
.rs-calendar-header-backward:focus,
.rs-calendar-header-backward:hover,
.rs-calendar-header-forward.rs-btn-focus,
.rs-calendar-header-forward:focus,
.rs-calendar-header-forward:hover,
.rs-calendar-header-meridian.rs-btn-focus,
.rs-calendar-header-meridian:focus,
.rs-calendar-header-meridian:hover,
.rs-calendar-header-title.rs-btn-focus,
.rs-calendar-header-title:focus,
.rs-calendar-header-title:hover {
  color: #305da8;
}
.rs-picker-toolbar-right-btn-ok {
  border-radius: 0;
  background-color: #305da8;
}
.rs-picker-toolbar-right-btn-ok span {
  color: #fff;
}
.rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled,
.rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled:hover,
.rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled:hover:active {
  background-color: #305da8;
}
.rs-calendar-table-cell-content:hover {
  background-color: #ebf2fc;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: #000;
}
.rs-picker-placement-bottom-end .rs-picker-toggle-caret:before,
.rs-picker-placement-bottom-start .rs-picker-toggle-caret:before,
.rs-picker-toggle-caret:before {
  width: 22px;
  height: 22px;
  display: block;
  content: '' !important;
  background: url('../images/icons/ico_calendar_24px.svg');
}
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean,
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
  right: 34px;
}
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  right: 7px;
  top: 5px;
}
.top-calendar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*[class*='rs'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body[class*='rs'] {
  font-size: 14px;
  line-height: 1.42857143;
  color: #575757;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[hidden],
template[class*='rs'] {
  display: none;
}
a[class*='rs'] {
  background-color: transparent;
}
a[class*='rs']:active,
a[class*='rs']:hover {
  outline: 0;
}
b[class*='rs'],
strong[class*='rs'] {
  font-weight: bold;
}
sub[class*='rs'],
sup[class*='rs'] {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup[class*='rs'] {
  top: -0.5em;
}
sub[class*='rs'] {
  bottom: -0.25em;
}
img[class*='rs'] {
  border: 0;
}
svg[class*='rs']:not(:root) {
  overflow: hidden;
}
hr[class*='rs'] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre[class*='rs'] {
  overflow: auto;
}
button[class*='rs'],
input[class*='rs'],
optgroup[class*='rs'],
select[class*='rs'],
textarea[class*='rs'] {
  color: inherit;
  font: inherit;
  margin: 0;
}
button[class*='rs'] {
  overflow: visible;
}
button[class*='rs'] {
  border-radius: 0;
}
button[class*='rs'],
select[class*='rs'] {
  text-transform: none;
}
button[class*='rs'],
html[class*='rs'] input[class*='rs'][type='button'],
input[class*='rs'][type='reset'],
input[class*='rs'][type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[class*='rs'][disabled],
html[class*='rs'] input[class*='rs'][disabled] {
  cursor: not-allowed;
}
button[class*='rs']::-moz-focus-inner,
input[class*='rs']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[class*='rs'] {
  line-height: normal;
}
input[class*='rs'][type='checkbox'],
input[class*='rs'][type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[class*='rs'][type='number']::-webkit-inner-spin-button,
input[class*='rs'][type='number']::-webkit-outer-spin-button {
  height: auto;
}
textarea[class*='rs'] {
  overflow: auto;
}
table[class*='rs'] {
  border-collapse: collapse;
  border-spacing: 0;
}
td[class*='rs'],
th[class*='rs'] {
  padding: 0;
}
[class*='rs'][tabindex='-1'] {
  outline: none;
}
input[class*='rs'][type='button'],
input[class*='rs'][type='submit'],
input[class*='rs'][type='reset'],
button[class*='rs'] {
  border-width: 0;
}
input[class*='rs']::-ms-clear {
  display: none;
}
input[class*='rs'][type='file']::-webkit-file-upload-button,
input[class*='rs'][type='file']::-ms-browse {
  border-width: 0;
  background: transparent;
  color: currentColor;
}
input[class*='rs'],
button[class*='rs'],
select[class*='rs'],
textarea[class*='rs'] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
html[class*='rs'] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body[class*='rs'] {
  font-family: Apple-System, Arial, Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', STXihei, sans-serif;
}
a[class*='rs'] {
  color: #1675e0;
  text-decoration: none;
}
a[class*='rs']:hover,
a[class*='rs']:focus {
  color: #0a5dc2;
  text-decoration: underline;
}
a[class*='rs']:active {
  color: #004299;
  text-decoration: underline;
}
a[class*='rs']:focus {
  outline: 0;
}
img[class*='rs'] {
  vertical-align: middle;
}
hr[class*='rs'] {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e5e5ea;
}
h1[class*='rs'],
h2[class*='rs'],
h3[class*='rs'],
h4[class*='rs'],
h5[class*='rs'],
h6[class*='rs'] {
  font-family: inherit;
  font-weight: bolder;
  color: inherit;
  margin: 0;
}
h1[class*='rs'] small,
h2[class*='rs'] small,
h3[class*='rs'] small,
h4[class*='rs'] small,
h5[class*='rs'] small,
h6[class*='rs'] small {
  font-weight: normal;
  line-height: 1;
  color: #c5c6c7;
}
h1[class*='rs'] {
  font-size: 46px;
  line-height: 62px;
}
h2[class*='rs'] {
  font-size: 36px;
  line-height: 50px;
}
h3[class*='rs'] {
  font-size: 28px;
  line-height: 42px;
}
h4[class*='rs'] {
  font-size: 22px;
  line-height: 34px;
}
h5[class*='rs'] {
  font-size: 18px;
  line-height: 24px;
}
h6[class*='rs'] {
  font-size: 16px;
  line-height: 22px;
}
p[class*='rs'] {
  margin: 0;
}
p[class*='rs'] + p[class*='rs'] {
  margin-top: 8px;
}
small[class*='rs'] {
  font-size: 85%;
}
mark[class*='rs'] {
  background-color: #fff9e6;
  padding: 0.2em;
  font-weight: bolder;
}
ul[class*='rs'],
ol[class*='rs'] {
  margin-top: 0;
  margin-bottom: 10px;
}
ul[class*='rs'] ul,
ol[class*='rs'] ul,
ul[class*='rs'] ol,
ol[class*='rs'] ol {
  margin-bottom: 0;
}
dl[class*='rs'] {
  margin-top: 0;
  margin-bottom: 10px;
}
dt[class*='rs'],
dd[class*='rs'] {
  line-height: 1.42857143;
}
dt[class*='rs'] {
  font-weight: bold;
}
dd[class*='rs'] {
  margin-left: 0;
  margin-bottom: 10px;
}
