@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
textarea,
input,
button {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #444;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  height: 100%;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 16px;
  background-clip: border-box;
  border: 4px solid transparent;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: inset 0px 0px 5px white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table caption {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
.mindslab input {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 16px;
  border: 1px solid #e3e8eb;
  box-sizing: border-box; /* border-radius:8px; */
  height: 48px;
}

input::placeholder {
  color: #bdc6d2;
  font-size: 14px;
  font-weight: 400;
}
input::-webkit-input-placeholder {
  color: #bdc6d2;
  font-size: 14px;
  font-weight: 400;
}
input:-ms-input-placeholder {
  color: #bdc6d2;
  font-size: 14px;
  font-weight: 400;
}
input:-mos-input-placeholder {
  color: #bdc6d2;
  font-size: 14px;
  font-weight: 400;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
label {
  font-size: 14px;
}
textarea {
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  border: 1px solid #e3ebe3;
}
input,
textarea {
  -webkit-appearance: none;
}
textarea::placeholder {
  color: #a8b0bc;
  font-size: 14px;
  font-weight: 400;
}
textarea::-webkit-scrollbar {
  width: 24px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #c9d0d8;
  border-radius: 30px;
  background-clip: padding-box;
  border: 10px solid transparent;
}
textarea::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: inset 0px 0px 5px white;
}
strong {
  color: #d94452;
  font-size: 14px;
}
em {
  font-weight: 700;
  font-style: normal;
  font-size: inherit;
}
/* form{margin-top:48px;} */
fieldset legend {
  display: none;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}
button {
  background: transparent;
}
address {
  font-style: normal;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  -webkit-overflow-scrolling: none;
  overflow: overlay;
}

/* color */
.color_darkBlue {
  color: #305da8;
}
.color_blue {
  color: #4270be;
}
.color_darkOrange {
  color: #c7842e;
}
.color_oragne {
  color: #fae2b2;
}
.color_darkGray {
  color: #444;
}
.color_gray {
  color: #585858;
}
.color_lightGray {
  color: #bdc6d2 !important;
}
.color_lightGray02 {
  color: #848680;
}

.fwR {
  font-weight: 400;
}
.tal {
  text-align: left !important;
}
.tac {
  text-align: center !important;
}
.tar {
  text-align: right !important;
}
.padlr64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}
.padlr36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}
.padlr24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.padlr12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.pt0 {
  padding-top: 0 !important;
}
.ml36 {
  margin-left: 36px !important;
}
.mt92 {
  margin-top: 92px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.ml12 {
  margin-left: 12px !important;
}
.ml08 {
  margin-left: 8px !important;
}
button:disabled {
  background: #bdc6d2;
  color: #fff;
  cursor: default;
}
.w208 {
  width: 208px !important;
}
.w64 {
  width: 64px !important;
}
.w168 {
  width: 168px !important;
}
.w100p {
  width: 100% !important;
}
.disflex {
  display: flex !important;
}
.flex_fr {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}
.aifs {
  align-items: flex-start !important;
}
.dfac {
  display: flex;
  align-items: center;
}
.dfacsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* iPad2 */
@media (min-width: 768px) and (max-width: 1023px) {
}
/* iPhone6 */
@media (min-width: 375px) and (max-width: 667px) {
}
/* iPhone */
@media (min-width: 320px) and (max-width: 568px) {
}

/* @media (max-width:767px) {
	html {font-size:20px;}
}
@media screen and (max-width:667px) {
	html {font-size:17px;}
}
@media screen and (max-width:568px) {
	html {font-size:13px;}
}
@media screen and (max-width:414px) {
	html {font-size:11px;}
}
@media screen and (max-width:375px) {
	html {font-size:10px;}
}
@media screen and (max-width:320px) {
	html {font-size:9px;}
} */
